:root {
  --color-primary: #003D5B;
  --color-secondary: #30638E;
  --color-success: #8D9F87;
  --color-danger: #D1495B;
  --color-warning: #EDAE49;
  --color-info: #28AFB0;
  --color-light: #EEE5E5;
  --color-dark: #37392E;
}
